{% extends "base.html.twig" %}

{% block title %}Home
{% endblock %}

{% block body %}
	<div classe="container">
		<div class="bg-light py-3 px-3 border border-2 rounded">

			{{ form_start(form) }}
			{{ form_widget(form) }}

			<button type="submit" class="btn btn-primary">
				<i class="fas fa-check"></i>
				Va chercher !</button>

			{{ form_end(form) }}
		</div>
	</div>
	<h1 class="text-center my-4">Nos produits les plus consultés</h1>

	<div class="row">
		{% for product in products %}
			<div class="col-md-4 col-sm-12">
				<div class="card">
					<img src="{{ vich_uploader_asset(product, 'mainPictureFile') }}" class="img-fluid" alt=" image de : {{ product.name }}">
					<div class="card-body">
						<h4 class="card-title">{{ product.name }}
							{{ product.price|amount }}</h4>
						<span class="badge badge-primary">{{ product.category.name}}</span>
						<p class="card-text">{{ product.shortDescription }}</p>
						<a href="{{ path('show_product', { 'category_slug' : product.category.slug, 'slug': product.slug}) }}" class="btn btn-primary btn-sm">Détail</a>
						<a href="{{ path('app_cart_add', {'id': product.id}) }}" class="btn btn-success btn-sm">Ajouter</a>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>

	<hr>
	<h2 class="text-center">Services</h2>
	<p class="text-justify">Lorem ipsum dolor incididunt ut labore et dolore magna aliqua, quis nostrud exercitation
	ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
	velit esse cillum dolore eu fugiat nulla pariatur.
	</p>

	<div class="row mx-4">
		<div class="col  my-2">
			{% include "shared/_services.html.twig" with {
    'color': 'primary',
    'icon': 'fas fa-truck',
    'text': "Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
    laborum."
    } %}
		</div>
		<div class="col my-2">
			{% include "shared/_services.html.twig" with {
    'color': 'success',
    'icon': 'fas fa-check',
    'text': "Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
    laborum."
    } %}
		</div>
		<div class="col  my-2">
			{% include "shared/_services.html.twig" with {
    'color': 'warning',
    'icon': 'fas fa-lock',
    'text': "Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
    laborum."
    } %}
		</div>
	</div>
{% endblock %}
