{% extends "base.html.twig" %}

{% block title %}Home
{% endblock %}

{% block body %}
	<br>
	<h1 class="text-center mt-4 mb-4">Nos produits les plus consultés</h1>

	<div class="row">
		{% for product in products %}
			<div class="col">
				<div class="card">
					<img src="{{ vich_uploader_asset(product, 'mainPictureFile') }}" class="img-fluid" alt=" image de : {{ product.name }}">
					<div class="card-body">
						<h4 class="card-title">{{ product.name }}
							{{ product.price|amount }}</h4>
						<span class="badge badge-primary">{{ product.category.name}}</span>
						<p class="card-text">{{ product.shortDescription }}</p>
						<a href="{{ path('show_product', { 'category_slug' : product.category.slug, 'slug': product.slug}) }}" class="btn btn-primary btn-sm">Détail</a>
						<a href="{{ path('app_cart_add', {'id': product.id}) }}" class="btn btn-success btn-sm">Ajouter</a>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>

	<hr>
	<h2 class="text-center">Services</h2>
	<p class="text-center">Lorem ipsum dolor incididunt ut labore et dolore magna aliqua, quis nostrud exercitation
							ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
							velit esse cillum dolore eu fugiat nulla pariatur.
	</p>

	<div class="row mx-4">
		{% include "shared/_services.html.twig" with {
    'color': 'primary',
    'icon': 'fas fa-truck',
    'text': "Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
    laborum."
    } %}

		{% include "shared/_services.html.twig" with {
    'color': 'success',
    'icon': 'fas fa-check',
    'text': "Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
    laborum."
    } %}

		{% include "shared/_services.html.twig" with {
    'color': 'warning',
    'icon': 'fas fa-lock',
    'text': "Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
    laborum."
    } %}
	</div>
{% endblock %}
