{% extends 'base.html.twig' %}

{% block title %}
	Categorie :
	{{ category.name}}
{% endblock %}

{% block body %}
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a href="{{ path('app_homepage') }}">Accueil</a>
		</li>
		<li class="breadcrumb-item active">{{ category.name }}</li>
	</ol>
	<div class="container">
		<h1>Catégorie :
			{{category.name }}</h1>
		<div class="row">
			{% for product in category.products %}
				<div class="col-md-4 mt-4">
					<div class="card">
						<img src="{{ vich_uploader_asset(product, 'mainPictureFile') }}" class="img-fluid" alt=" image de : {{ product.name }}">
						<div class="card-body">
							<h4 class="card-title">{{ product.name }}
								({{ product.price|amount }}
								&euro;)</h4>
							<p class="card-text">{{ product.shortDescription }}</p>
							<a href="{{ path('show_product', { 'category_slug' : product.category.slug, 'slug': product.slug}) }}" class="btn btn-primary btn-sm">Détail</a>
							<a href="{{ path('app_cart_add', {'id': product.id}) }}" class="btn btn-success btn-sm">Ajouter</a>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
	{% endblock %}
