{% extends 'base.html.twig' %}

{% block title %}
	produit :
	{{ product.name}}
{% endblock %}

{% block body %}
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a href="{{ path('app_homepage') }}">Accueil</a>
		</li>
		<li class="breadcrumb-item">
			<a href="{{ path('product_category', {'slug': product.category.slug}) }}">{{ product.category.name }}</a>
		</li>
		<li class="breadcrumb-item active">{{product.name}}</li>
	</ol>
	<h1>Produit :
		{{product.name }}
		: ({{ product.price / 100 }}
		&euro;)</h1>

	<div class="row">

		<div class="col-4">
			<img src="{{ vich_uploader_asset(product, 'mainPictureFile') }}" class="img-fluid" alt=" image de : {{ product.name }}">
		</div>
		<div class="col">
			<span class="badge badge-primary">{{ product.category.name }}</span><br>
			<p class="card-text">{{ product.shortDescription }}</p>
			<a href="#" class="btn btn-success btn-lg">
				<i class="fas fa-shopping-cart"></i>
				Ajouter au panier
			</a>
		</div>
	</div>
{% endblock %}
