<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
	<a class="navbar-brand text-secondary" href="/">🤩 Mon e-commerce 🤩</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarColor03">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link text-secondary" href="/">Accueil
					<span class="sr-only">(current)</span>
				</a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle text-secondary" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Catégories</a>
				<div class="dropdown-menu">
					{% for category in categoryRepository.findAll() %}
						<a class="nav-link text-secondary" href="{{ path('product_category', {'slug': category.slug})}}">{{ category.name }}</a>
					{% endfor %}
				</div>
			</li>
			{% if not app.user %}
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle text-secondary" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Identifiez-vous</a>
					<div class="dropdown-menu">
						<a class="dropdown-item text-secondary" href="{{ path('app_register') }}">Inscription</a>
						<a class="dropdown-item text-secondary" href="{{ path('app_login') }}">Login</a>
					</div>
				</li>
			{% else %}
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle text-secondary" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Bienvenue</a>
					<div class="dropdown-menu">
						<a class="dropdown-item text-secondary" href="#">Profil</a>
						<a class="dropdown-item text-secondary" href="#">Mes commandes</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item text-secondary" href="{{ path('app_logout') }}">Logout</a>
					</div>
				</li>
			{% endif %}
		</ul>
		<a href="{{ path('app_cart_show') }}" class="nav-link text-secondary ">
			<i class="fas fa-shopping-cart"></i> {{ cartService.total|amount}}
		</a>
		<form class="form-inline my-2 my-lg-0">
			<input class="form-control mr-sm-2" type="text" placeholder="Search">
			<button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
		</form>
	</div>
</nav>
